* {
    box-sizing: border-box;  
    max-width: 1280px;  
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EFF0F3;
} 
   
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.margin-null {
    margin: 0;
}

.quotes {
    display: flex;
    padding: 32px 48px;
    justify-content: space-between;
    width: 100%;
}

.quote-common {
    background-color: #fff;
    border-radius: 16px;
    padding: 40px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

.quote-size {
    height: 240px;
    width: 672px;
}

.blue_quote {
    margin-bottom: 32px;
}

.red_quote {
    flex-direction: column;
    height: 512px;
    width: 448px;
}

.left_side {
    max-width: 672px;
}

.right_side {
    max-width: 448px;
    max-height: 512px;
    padding-left: 40px;
}

.img_right {
    width: 140px;
    height: 140px;
}

.sign {
    display: flex;
    justify-content: flex-start;
}

.img_bottom {
    width: 64px;
    height: 64px;
}

.bottom_sign {
    padding-left: 20px;
}

.img_quote {
    padding: 10px 0;
}

.author {
    font-family: 'DM Serif Display', serif;
    padding-top: 15px;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #081F32;
}

.text_middle {
    max-width: 415px;
    border-bottom: 2px solid #EBECED;
    padding-bottom: 60px;
    line-height: 40px;
    
}

.red_quote-text {
    width: 368px;
    height: 160px;
    font-size: 18px;
    line-height: 40px;
}

span {
    margin-top: 20px;
    font-size: 18px;
    color: #6E798C;
}

.img_quote__red {
    padding: 30px 0;
}

.text_left {
    width: 415px;
}

.sign_text {
    line-height: 25px;
    font-size: 11px;
    text-transform: uppercase
}

.right_author {
    letter-spacing: 0.03em;
    font-size: 22px;
    color: #081F32;
}

.course-icon {
    margin: 0;
}

.xl-ico {
    height: 144px;
    width: 128px;
    border-radius: 4px;
    margin: 40px 32px 40px 40px;
}

.card-xl {
    max-width: 888px;
    max-height: 224px;
    border-radius: 16px;
    background-color: #fff;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-left: 48px;
    padding-top: 64px;

}

.card {
    margin: 0;
}

.card-article {
    margin: 40px 0;
    max-width: 432px;
    line-height: 25px;
    width: 100%;
}

.title {
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
    padding-bottom: 8px;
    max-width: 432px;
    width: 100%;
}

.card-xl__author {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #A5ADBB;
}

.article-content {
    color: #6E798C;
    font-size: 16px;
    padding-top: 8px;
    max-width: 392px;
    margin: 0;
    width: 100%;
}

.course-info {
    display: inline-flex;
    padding-top: 49px;
    padding-bottom: 49px;
    justify-items: center;
}

.card-info__ico {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-info__text {
    padding-left: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-text {
    margin: 0;
    font-size: 16px;
    color: #6E798C;
}

.black {
    color: #081F32;
    font-weight: 600;
    padding-right: 5px;
}

.python-xl {
    display: flex;
    height: 224px;
    width: 888px;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 40px;
}

.react-xl {
    display: flex;
    height: 224px;
    width: 888px;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 40px;
}

.react-article {
    margin: 40px 0;
    max-width: 395px;
    line-height: 25px;
}

.designer-xl {
    display: flex;
    height: 224px;
    width: 888px;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 16px;
}

.card-sm {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 40px;
}

.course-card__sm {
    height: 224px;
    width: 240px;
    border-radius: 16px;
}

.python-sm__bg{
    background: linear-gradient(321.69deg, #FF6188 0%, #FFB199 100%);
}

.info-title__sm {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
    display:inline-block;
    padding: 24px 40px 43px 16px;
    z-index: 3;
}

.button_style {
    background-color: #fff;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    padding: 10px 35px;
    border-radius: 8px;
    margin: 230px 10px 10px 100px;
    max-width: 101px;
    max-height: 37px;
}

.react-sm__bg {
    background: linear-gradient(321.69deg, #4481EB 0%, #04BEFE 100%);
}

.designer-sm__bg{
    background: linear-gradient(132.9deg, #63F7A1 1.3%, #27AE60 98.06%), linear-gradient(143.36deg, #D6FF94 3.66%, #3DC24B 103.19%);
}

.python-color {
    color: #FF6188;
}

.react-color {
    color: #04BEFE;
}

.designer-color {
    color: #3DC24B;
}

.bg-card__img {
    position: absolute;
    z-index: 2;
}
